.navspanhead{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.cusnavhead2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300 !important;
}