.box{
    height: 55px;
    width: 55px;
    /* margin: 1px; */

}
.cuscontainer{
    width: 200px;
    height: 200px;
    border: 0px solid #000;
    border-radius: 50%;
    position: absolute;
}
.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: rgb(12, 200, 100);
    animation: rotatel 2s linear infinite;
}