
<div class="conatainer">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="row col-lg-4 mt-3 shadow p-5">

                    <form ng-submit="signupclick()">
                        <h2 class="text-capitalize text-center">sign up  page
                        </h2>
                        <label for="username" class="my-1  p-2"><h4>username</h4></label>
                        <input type="text" ng-model="username"
                            class="form-control p-2">
                        <label for="userpassword" class="my-1 p-2"><h4>userpassword</h4></label>
                        <input type="number" ng-model="userpass"
                            class="form-control p-2">
                        <label for="userdob" class="my-1 p-2"><h4>userDOB</h4></label>
                        <input type="date" ng-model="userdob"
                            class="form-control p-2">
                        <button
                            class="btn btn-dark border shadow my-3 border-0 p-2"
                            type="submit"><h4>sign-up</h4></button>
                    </form>
                    <p class="text-capitalize">already have a acoount want to
                       log in <a href="#!/">click me</a></p>
                </div>
                <div class="col-lg-4"></div>
            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>